<br>
<ol class="breadcrumb mb-2">
	<li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
	<li class="breadcrumb-item active">Clinics</li>
</ol>
<div style="margin-top: 1%;" class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-body">
				<h1 dir="rtl" class="mr-auto" style="text-align:right;">קליניקות</h1><br>
				<table class="table">
					<thead>
						<tr>
							<th scope="col" style="text-align:right;"></th>
							<th scope="col" style="text-align:right;">מצב פעילות</th>
							<th scope="col" style="text-align:right;">שנת פתיחה</th>
							<th scope="col" style="text-align:right;">מנחה</th>
							<th scope="col" style="text-align:right;">שם</th>
						</tr>
					</thead>
					<tbody>

						<tr [ngClass]="{'not-active-clinic':!clinic.active}"
							*ngFor="let clinic of clinics;let i = index">
							<td style="text-align:right;">
								<button class="btn-primary mr-1" (click)="openEditModal(editModal,clinic)"><i
										class="fa fa-edit"></i></button>
								<!--Edit Modal -->
								<ng-template #editModal let-modal>
									<div class="modal-header">
										<h4 class="modal-title" id="modal-basic-title"> עריכת קליניקה</h4>
										<button style="margin-left: 0;" type="button" class="close" aria-label="Close"
											(click)="modal.dismiss('Cross click')">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<form dir="rtl">

											<div class="row">
												<div class="col-3">
													<label>
														שם הקליניקה: </label>

												</div>
												<div class="col-9">
													<input style="width: 100%;" type="text" name="clinicName"
														[(ngModel)]="edittedClinic.clinicName" disabled>
												</div>
											</div>


											<div class="row">
												<div class="col-3">
													<label>
														מנחה</label>
												</div>
												<div class="col-9">
													<select #supervisorSelect
														[(ngModel)]="edittedClinic.clinicalSupervisorId"
														style="width: 100%;" name="clinicalSupervisorId">
														<option *ngFor="let s of supervisors" [value]="s.id">
															{{s.firstName+' '+s.lastName}}
														</option>
													</select>
												</div>
											</div>

											<div class="row">
												<div class="col-3">
													<label>
														תיאור:</label>
												</div>
												<div class="col-9">
													<textarea style="width: 100%;height:350px"
														[(ngModel)]="edittedClinic.description" name="description">

													</textarea>

												</div>
											</div>

										</form>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-outline-dark"
											(click)="modal.close('Save click');onEdit(i)">ערוך</button>
									</div>
								</ng-template>


								<button class="btn btn-sm btn-danger btn-delete-account"
									(click)="openDeleteModal(deleteModal)">
									<span class="spinner-border spinner-border-sm"><i
											class="fa fa-trash-alt"></i></span>
								</button>
								<!--Delete Modal -->
								<ng-template #deleteModal let-modal>
									<div class="modal-header">
										<h4 class="modal-title" id="modal-basic-title">מחיקת קליניקה</h4>

									</div>
									<div class="modal-body">
										<p dir="rtl">
											האם ברצונך למחוק את
											<span>{{clinic.clinicName}}?</span>
										</p>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-danger"
											(click)="modal.close('Save click');onDelete(clinic.clinicName)">מחק</button>
										<button style="margin-right:15px;" type="button" class="btn btn-outline-dark"
											(click)="modal.close('Save click')">ביטול</button>
									</div>
								</ng-template>

							</td>
							<td style="text-align:right;">
								<button (click)="onChangeClinicState(i)">
									{{clinic.active?"העבר לארכיון":"החזר מארכיון"}}</button>
							</td>
							<td style="text-align:right;">{{clinic.yearFounded}}</td>
							<td style="text-align:right;">{{getFullName(clinic.clinicalSupervisorId)}}</td>
							<td style="text-align:right;">{{clinic.clinicName}}</td>
						</tr>
					</tbody>
				</table>

				<button style="color: white;font-size: 21;float:right" class="btn btn-success btn-rounded"
					(click)="openAddModal(addModal)">צור קליניקה חדשה</button>
				<!--Add Modal -->
				<ng-template #addModal let-modal>
					<div class="modal-header">
						<h4 class="modal-title" id="modal-basic-title">יצירת קליניקה חדשה</h4>
						<button style="margin-left: 0;" type="button" class="close" aria-label="Close"
							(click)="modal.dismiss('Cross click')">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form dir="rtl" style="padding: 0;">
							<div class="row">
								<div class="col-5">
									<label>
										שם הקליניקה</label>
								</div>
								<div class="col-7">
									<input name="clinicName" type="text" [(ngModel)]="addedClinic.clinicName">
								</div>
							</div>
							<div class="row">
								<div class="col-5">
									<label>
										מנחה
									</label>
								</div>
								<div class="col-7">
									<select name="supervisor" style="width: 150px;" [(ngModel)]="supervisor">
										<option *ngFor="let s of supervisors" [ngValue]="s">
											{{s.firstName}}
										</option>
									</select>
								</div>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-outline-dark"
							(click)="modal.close('Save click');onSave()">הוסף</button>
					</div>
				</ng-template>

			</div>
		</div>


	</div>
</div>