.modal-content {
  width: 400px;
}

.btn-outline-primary {
  border-width: 0;
}
.btn-outline-primary:hover {
  background-color: transparent;
}
.btn-outline-primary:active {
  background-color: transparent !important;
}
.dropdown-toggle::after {
  display: none;
}
.dropdown-menu.show {
  display: block;
  position: fixed;
  width: 400px;
}
.badge {
  background-color: red;
  color: white;
  border-radius: 100%;
}

.dark-modal .close {
  outline: none;
  box-shadow: none;
}
