<br>
<ol class="breadcrumb mb-2">
	<li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
	<li class="breadcrumb-item active">Dashboard</li>
</ol>
<div style="margin-top: 1%;" class="row">
    <div class="col-md-6">
        <app-case-in-court></app-case-in-court>
    </div>
    <div class="col-md-6">
        <app-close-cases></app-close-cases>
    </div>
</div>


<!-- Row -->
<div class="row">
    <div class="col-sm-12">
        <app-clincs-statistics></app-clincs-statistics>
    </div>
</div>


<div class="row">
    <div class="col-md-6 col-lg-3 col-xlg-3">
        <div class="card bg-info">
            <div class="box bg-info text-center">
                <h1 class="font-light text-white">{{casesReceivedThisYearNumber}}</h1>
                <h6 class="text-white">סך הכל פניות</h6>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3 col-xlg-3">
        <div class="card bg-primary">
            <div class="box text-center">
                <h1 class="font-light text-white">{{supervisorsNumber}}</h1>
                <h6 class="text-white">סך הכל מנחים</h6>

            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3 col-xlg-3">
        <div class="card bg-success">
            <div class="box text-center">
                <h1 class="font-light text-white">{{activeClinicsNumber}}</h1>
                <h6 class="text-white">קליניקות פעילות</h6>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3 col-xlg-3">
        <div class="card bg-warning">
            <div class="box text-center">
                <h1 class="font-light text-white">{{studentsNumber}}</h1>
                <h6 class="text-white">סך הכל סטודנטים</h6>
            </div>
        </div>
    </div>
</div>