<div dir="rtl" style="margin-top: 10%;" class="row">
    <div class="col-md-6 col-lg-3 col-xlg-3">
        <div class="card bg-info">
            <div class="box bg-info text-center">
                <h1 class="font-light text-white">20</h1>
                <h6 class="text-white">סך הכל סטודנטים</h6>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-lg-3 col-xlg-3">
        <div class="card bg-success">
            <div class="box text-center">
                <h1 class="font-light text-white">10</h1>
                <h6 class="text-white"> סך הכל פניות</h6>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3 col-xlg-3">
        <div class="card bg-warning">
            <div class="box text-center">
                <h1 class="font-light text-white">3</h1>
                <h6 class="text-white">סך הבל תיקים בבית משפט</h6>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3 col-xlg-3">
        <div class="card bg-primary">
            <div class="box text-center">
                <h1 class="font-light text-white">4</h1>
                <h6 class="font-light text-white">סך הכל מחקרים</h6>
            </div>
        </div>
    </div>
</div>

<app-students-statistics></app-students-statistics>