<br>
<ol class="breadcrumb mb-2">
	<li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
	<li class="breadcrumb-item active">Dashboard</li>
</ol>

<div dir="rtl" class="row">
    <div class="col-md-6 col-lg-3 col-xlg-3">
        <div style="height: 150px;" class="card bg-info">
            <div class="box bg-info text-center">
                <h1 class="font-light text-white">{{studentsNumber}}</h1>
                <h6 class="text-white">סך הכל סטודנטים</h6>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-lg-3 col-xlg-3">
        <div style="height: 150px;" class="card bg-success">
            <div class="box text-center">
                <h1 class="font-light text-white">{{casesReceivedThisYearNumber}}</h1>
                <h6 class="text-white"> סך הכל פניות</h6>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3 col-xlg-3">
        <div style="height: 150px; color: white" class="card bg-danger">
            <div class="box text-center">
                <h1 class="font-light ">{{casesInCourtNumber}}</h1>
                <h6>סך הכל תיקים בבית משפט</h6>
                <button class="btn btn-primary btn-sm" (click)="open(addModal,'')">בחר טווח
                    תאריכים</button>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3 col-xlg-3">
        <div style="height: 150px;" class="card bg-primary">
            <div class="box text-center">
                <h1 class="font-light text-white">{{researchesNumber}}</h1>
                <h6 class="font-light text-white">סך הכל מחקרים</h6>
            </div>
        </div>
    </div>
</div>

<ng-template #addModal let-modal>
    <div class="modal-header">
        <button style="margin-left: 0;" type="button" class="close" aria-label="Close"
            (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div style="float: right;" class="form-group">
                <label style="float: right;">
                    מתאריך</label>
                <input style="float: right;" placeholder="dd-mm-yyyy" type="date" [(ngModel)]="startDate"
                    name="startDate"><br>
            </div>

            <div style="float: right;" class="form-group">
                <label style="float: right;">
                    עד תאריך</label>
                <input placeholder="dd-mm-yyyy" min="1997-01-01" max="2030-12-31" name="endDate" type="date"
                    [(ngModel)]="endDate"><br>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn-primary" (click)="getNumberOfCasesInCouret();modal.dismiss('dates selected')">
            הצג</button>
    </div>
</ng-template>


<app-students-statistics></app-students-statistics>
