<div dir="rtl" style="margin-top: 10%;" class="row">


    <div class="col-md-6 col-lg-4 col-xlg-3">
        <div class="card bg-success">
            <div class="box text-center">
                <h1 class="font-light text-white">{{casesAssignedStudentNumber}}</h1>
                <h6 class="text-white">סך הכל תיקים שלי</h6>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-4 col-xlg-3">
        <div class="card bg-warning">
            <div class="box text-center">
                <h1 class="font-light text-white"></h1>
                <h6 class="text-white">סך הבל תיקים בקליניקה</h6>
            </div>
        </div>
    </div>


    <div class="col-lg-4 col-xlg-3 col-md-5">
        <div class="card">
            <div class="card-body">
                <center class="mt-4"> <img src=".https://law.haifa.ac.il/images/cln/haran1.jpg" class="rounded-circle"
                        width="150">
                    <h4 class="card-title mt-2">{{supervisor.firsName}} {{ supervisor.lastname}}</h4>
                    <h6 class="card-subtitle">המנחה שלי</h6>
                    <div class="row text-center justify-content-md-center">
                        <div class="col-4"><a href="javascript:void(0)" class="link"><i class="icon-people"></i>
                                <font class="font-weight-medium">254</font>
                            </a></div>
                        <div class="col-4"><a href="javascript:void(0)" class="link"><i class="icon-picture"></i>
                                <font class="font-weight-medium">54</font>
                            </a></div>
                    </div>
                </center>
            </div>
            <div>
                <hr>
            </div>
            <div class="card-body"> <small class="text-muted">דואר אלקטרוני של מנחה </small>
                <h6>{{supervisor.email}}</h6>
                <small class="text-muted pt-4 db">מספר טלפון</small>
                <h6>{{supervisor.phoneNumber}}</h6>
                <div class="map-box">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2372.430915172373!2d35.02089555633236!3d32.76244476522023!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151dbab83f7be8ab%3A0x475fdbcf84359ab8!2z15DXldeg15nXkdeo16HXmdeY16og15fXmdek15Q!5e0!3m2!1siw!2sil!4v1610301936769!5m2!1siw!2sil"
                        width="100%" height="350" frameborder="0" style="border:0" allowfullscreen=""></iframe>
                </div> <small class="text-muted pt-4 db">Social Profile</small>
                <br>
                <button class="btn btn-circle btn-secondary"><i class="fab fa-facebook-f"></i></button>
                <button class="btn btn-circle btn-secondary"><i class="fab fa-twitter"></i></button>
                <button class="btn btn-circle btn-secondary"><i class="fab fa-youtube"></i></button>
            </div>
        </div>
    </div>

</div>