<div class="card">
    <div class="card-body">
        <div class="d-md-flex align-items-center">
            <h4 class="card-title mb-0"> מספר תיקים שנפתחו ע"י סטודנטים</h4>
            <div class="ml-auto">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
            <canvas id="studentsChart">

            </canvas>
        </div>
        <div class="col-md-6">
            <app-calendar></app-calendar>
        </div>
        </div>
        
        <div class="m-t-20">
   

        </div>
    </div>
</div>