<nav class="sidebar-nav">
    <ul id="sidebarnav">
        <li class="nav-devider"></li>
        <!-- First level menu -->
        <li style="white-space: pre-wrap" class="sidebar-item" [class.active]="showMenu === sidebarnavItem.title"
            *ngFor="let sidebarnavItem of sidebarnavItems">
            <div class="nav-small-cap" *ngIf="sidebarnavItem.extralink === true && sidebarnavItem.hasSub">
                {{sidebarnavItem.title}}
            </div>

            <a class="sidebar-link waves-effect waves-dark"
                [routerLink]="sidebarnavItem.class === '' && !sidebarnavItem.hasSub ? [sidebarnavItem.path] : null"
                [ngClass]="[sidebarnavItem.class]" *ngIf="!sidebarnavItem.extralink
                ;" (click)="addExpandClass(sidebarnavItem.title);toggleDropDown(sidebarnavItem)">
                <i [ngClass]="[sidebarnavItem.icon]"></i>
                <span class="hide-menu">{{sidebarnavItem.title}}</span>
            </a>

            <div *ngIf="sidebarnavItem.hasSub && sidebarnavItem.showSub">
                <a [ngStyle]="{'font-size': (sidebarnavItem.title=='סטודנטים בקליניקות') ? '10.5px' : '15px'}"
                    class="sidebar-link waves-effect waves-dark" *ngFor="let submenuItem of sidebarnavItem.submenu"
                    [routerLink]="submenuItem.path" [ngClass]="[sidebarnavItem.class]"
                    (click)="addExpandClass(sidebarnavItem.title)"
                    [routerLinkActive]="sidebarnavItem.submenu.length != 0 ? '' : 'active'">

                    <span class="hide-menu">{{submenuItem.title}}</span>
                </a>
            </div>



        </li>

    </ul>


</nav>