<br>
<ol class="breadcrumb mb-2">
	<li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
	<li class="breadcrumb-item active">Students</li>
</ol>
<div style="margin-top: 1%;" class="row">
	<div class="col-12">
		<div class="card">
			<div class="=card-header" style="text-align: right;"><br>
				<h1>סטודנטים </h1>
			</div>
			<div class="card-body">

				<table class="table">
					<thead>
						<tr>
							<th *ngIf="currentRole!=0" scope="col"></th>
							<th scope="col" style="text-align:right;">מספר טלפון</th>
							<th scope="col" style="text-align:right;">דואר אלקטרוני</th>
							<th scope="col" style="text-align:right;">שם משפחה</th>
							<th scope="col" style="text-align:right;">שם פרטי</th>
						</tr>
					</thead>
					<tbody>

						<tr *ngFor="let student of students">
							<td *ngIf="currentRole!=0">
								<button class="btn-primary mr-1" (click)="open(editModal,'')"><i
										class="fa fa-edit"></i></button>
								<!--Edit Modal -->
								<ng-template #editModal let-modal>
									<div class="modal-header">
										<h4 class="modal-title" id="modal-basic-title">עריכת סטודנט</h4>
										<button style="margin-left: 0;" type="button" class="close" aria-label="Close"
											(click)="modal.dismiss('Cross click')">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body" style="width: 300px;">
										<form dir="rtl">
											<div class="row">
												<div class="col-6">
													<label>
														שם פרטי</label>
												</div>
												<div class="col-6">
													<input type="text" [(ngModel)]="student.firstName" name="firstName">
												</div>

											</div>
											<div class="row">
												<div class="col-6">
													<label>
														שם משפחה</label>
												</div>
												<div class="col-6">
													<input name="lastName" type="text" [(ngModel)]="student.lastname">
												</div>

											</div>


											<div class="row">
												<div class="col-6">
													<label>
														דואר אלקטרוני</label>
												</div>
												<div class="col-6">
													<input name="email" type="text" [(ngModel)]="student.email">
												</div>
											</div>

											<div class="row">
												<div class="col-6">
													<label>
														מספר טלפון</label>
												</div>
												<div class="col-6">
													<input name="phoneNumber" type="text"
														[(ngModel)]="student.phoneNumber"><br>
												</div>
											</div>

											<div class="row">
												<div class="col-6">
													<label>
														מנחה</label>
												</div>
												<div class="col-6">
													<input name="supervisorName" type="text"
														[(ngModel)]="supervisorName" disabled><br>
												</div>
											</div>


										</form>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-outline-dark"
											(click)="modal.close('Save click');onEdit(student)">ערוך</button>
									</div>
								</ng-template>
								<button class="btn btn-sm btn-danger btn-delete-account" (click)="open(deleteModal,'')">
									<span class="spinner-border spinner-border-sm"><i
											class="fa fa-trash-alt"></i></span>
								</button>


								<!--Deletr Modal -->
								<ng-template #deleteModal let-modal>
									<div class="modal-header">
										<h4 class="modal-title" id="modal-basic-title">מחיקת סטודנט</h4>

									</div>
									<div class="modal-body">
										<p dir="rtl">
											האם ברצונך למחוק את
											<span>{{student.firstName}}?</span>
										</p>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-danger"
											(click)="modal.close('Save click');onDelete(student.id)">מחק</button>
										<button style="margin-right:15px;" type="button" class="btn btn-outline-dark"
											(click)="modal.close('Save click')">ביטול</button>
									</div>
								</ng-template>

							</td>
							<td style="text-align:right;">{{student.phoneNumber}}</td>
							<td style="text-align:right;">{{student.email}}</td>
							<td style="text-align:right;">{{student.lastname}}</td>
							<td style="text-align:right;">{{student.firstName}}</td>
						</tr>
					</tbody>
				</table><br>

				<button *ngIf="currentRole!=0" style="color: white;margin-left: 90%;font-size: 15;"
					class="btn btn-primary btn-rounded btn-success mb-2" (click)="open(addModal,'')">הוסף
					סטודנט</button>

			</div>
		</div>


	</div>
	<!--Add Modal -->
	<ng-template #addModal let-modal>
		<div class="modal-header">
			<h4 class="modal-title" id="modal-basic-title">הוספת סטודנט</h4>
			<button style="margin-left: 0;" type="button" class="close" aria-label="Close"
				(click)="modal.dismiss('Cross click')">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body" style="width: 300px;">
			<form style="padding-left: 0;" dir="rtl">
				<div class="row">
					<div class="col-6">
						<label>
							שם פרטי</label>
					</div>
					<div class="col-6">
						<input type="text" [(ngModel)]="addedStudent.firstName" name="firstName">
					</div>

				</div>
				<div class="row">
					<div class="col-6">
						<label>
							שם משפחה</label>
					</div>
					<div class="col-6">
						<input name="lastName" type="text" [(ngModel)]="addedStudent.lastname">
					</div>

				</div>

				<div class="row">
					<div class="col-6">
						<label>
							תעודת זהות</label>
					</div>
					<div class="col-6">
						<label>
							<input name="id" type="number" [(ngModel)]="addedStudent.id"></label>
					</div>
				</div>

				<div class="row">
					<div class="col-6">
						<label>
							דואר אלקטרוני</label>
					</div>
					<div class="col-6">
						<input name="email" type="text" [(ngModel)]="addedStudent.email">
					</div>
				</div>

				<div class="row">
					<div class="col-6">
						<label>
							מספר טלפון</label>
					</div>
					<div class="col-6">
						<input name="phoneNumber" type="text" [(ngModel)]="addedStudent.phoneNumber"><br>
					</div>
				</div>

				<div class="row">
					<div class="col-6">
						<label>
							מנחה</label>
					</div>
					<div class="col-6">
						<input name="supervisorName" type="text" [(ngModel)]="supervisorName" disabled><br>
					</div>
				</div>

			</form>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-outline-dark"
				(click)="modal.close('Save click');onSave()">הוסף</button>
		</div>
	</ng-template>




	<!--	<button class="btn btn-lg btn-outline-primary" (click)="open1(content1)">Launch demo modal</button>-->


</div>