<br>
<ol class="breadcrumb mb-2">
	<li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
	<li class="breadcrumb-item active">Students</li>
</ol>
<div style="margin-top: 1%;" class="row">
	<div class="col-12">
		<div class="card" style="overflow:scroll;">
			<div class="=card-header" style="text-align: right;"><br>
				<h1>{{currentClinic}}- סטודנטים </h1>
			</div>
			<div class="card-body">

				<table class="table" style="height: 150px;border-collapse: collapse; width: 100%;">
					<thead style="position: sticky; top: 0">
						<tr>
							<th *ngIf="currentRole!=0" scope="col"></th>
							<th scope="col" style="text-align:right;">מספר טלפון</th>
							<th scope="col" style="text-align:right;">דואר אלקטרוני</th>
							<th scope="col" style="text-align:right;">שם משפחה</th>
							<th scope="col" style="text-align:right;">שם פרטי</th>
						</tr>
					</thead>
					<tbody>

						<tr *ngFor="let student of students;let i=index">
							<td *ngIf="currentRole!=0" style="display: flex;">
								<button class="btn-primary mr-1" (click)="openEditModal(editModal,student)"><i
										class="fa fa-edit"></i></button>
								<!--Edit Modal -->
								<ng-template #editModal let-modal>
									<div class="modal-header">
										<h4 class="modal-title" id="modal-basic-title">עריכת סטודנט</h4>
										<button style="margin-left: 0;" type="button" class="close" aria-label="Close"
											(click)="modal.dismiss('Cross click')">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<form dir="rtl">
											<div class="row">
												<div class="col-6">
													<label>
														שם פרטי</label>
												</div>
												<div class="col-6">
													<input type="text" [(ngModel)]="edittedStudent.firstName"
														name="firstName">
												</div>

											</div>
											<div class="row">
												<div class="col-6">
													<label>
														שם משפחה</label>
												</div>
												<div class="col-6">
													<input name="lastName" type="text"
														[(ngModel)]="edittedStudent.lastName">
												</div>

											</div>


											<div class="row">
												<div class="col-6">
													<label>
														דואר אלקטרוני</label>
												</div>
												<div class="col-6">
													<input name="email" type="text" [(ngModel)]="edittedStudent.email">
												</div>
											</div>

											<div class="row">
												<div class="col-6">
													<label>
														מספר טלפון</label>
												</div>
												<div class="col-6">
													<input name="phoneNumber" type="text"
														[(ngModel)]="edittedStudent.phoneNumber"><br>
												</div>
											</div>

											<div class="row">
												<div class="col-6">
													<label>
														מנחה</label>
												</div>
												<div class="col-6">
													<input name="supervisorName" type="text"
														[(ngModel)]="supervisorName" disabled><br>
												</div>
											</div>


										</form>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-primary btn-rounded btn-success mb-2"
											(click)="modal.close('Save click');onEdit(i)"
											[disabled]="!validateEdittedFields()">ערוך</button>
									</div>
								</ng-template>
								<button class="btn btn-sm btn-danger btn-delete-account"
									(click)="openDeleteModal(deleteModal)">
									<span class="spinner-border spinner-border-sm"><i
											class="fa fa-trash-alt"></i></span>
								</button>


								<!--Delete Modal -->
								<ng-template #deleteModal let-modal>
									<div class="modal-header">
										<h4 class="modal-title" id="modal-basic-title">מחיקת סטודנט</h4>

									</div>
									<div class="modal-body">
										<p dir="rtl">
											האם ברצונך למחוק את
											<span>{{student.firstName}}?</span>
										</p>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-danger"
											(click)="modal.close('Save click');onDelete(student.id)">מחק</button>
										<button style="margin-right:15px;" type="button" class="btn btn-outline-dark"
											(click)="modal.close('Save click')">ביטול</button>
									</div>
								</ng-template>

							</td>
							<td style="text-align:right;">{{student.phoneNumber}}</td>
							<td style="text-align:right;">{{student.email}}</td>
							<td style="text-align:right;">{{student.lastName}}</td>
							<td style="text-align:right;">{{student.firstName}}</td>
						</tr>
					</tbody>
				</table><br>

				<button *ngIf="currentRole!=0" style="color: white; float: right; font-size: 15;"
					class="btn btn-primary btn-rounded btn-success mb-2" (click)="openAddModal(addModal,'')">הוסף
					סטודנט</button>

			</div>
		</div>


	</div>

	<!--Add Modal -->
	<ng-template #addModal let-modal>
		<div class="modal-header">
			<h4 class="modal-title" id="modal-basic-title">הוספת סטודנט</h4>
			<button style="margin-left: 0;" type="button" class="close" aria-label="Close"
				(click)="modal.dismiss('Cross click')">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body" style="padding-right:10% ;">
			<form style="padding-left: 0;" dir="rtl">

				<div class="row">
					<div class="col-6">
						<label>
							שם פרטי</label>
					</div>
					<div class="col-6">
						<input type="text" [(ngModel)]="addedStudent.firstName" name="firstName">
					</div>
				</div>

				<div class="row">
					<div class="col-6">
						<label>
							שם משפחה</label>
					</div>
					<div class="col-6">
						<input name="lastName" type="text" [(ngModel)]="addedStudent.lastName">
					</div>
				</div>

				<div class="row">
					<div class="col-6">
						<label>
							תעודת זהות</label>
					</div>
					<div class="col-6">
						<label>
							<input name="id" type="number" [(ngModel)]="addedStudent.id"></label>
					</div>
				</div>

				<div class="row">
					<div class="col-6">
						<label>
							דואר אלקטרוני</label>
					</div>
					<div class="col-6">
						<input name="email" type="text" [(ngModel)]="addedStudent.email">
					</div>
				</div>

				<div class="row">
					<div class="col-6">
						<label>
							מספר טלפון</label>
					</div>
					<div class="col-6">
						<input name="phoneNumber" type="text" [(ngModel)]="addedStudent.phoneNumber"><br>
					</div>
				</div>

				<div class="row">
					<div class="col-6">
						<label>
							מנחה</label>
					</div>
					<div class="col-6">
						<input name="supervisorName" type="text" [(ngModel)]="supervisorName" disabled><br>
					</div>
				</div>

			</form>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-primary btn-rounded btn-success mb-2"
				(click)="modal.close('Save click');onAdd()" [disabled]="!validateAddedFields()">הוסף</button>
		</div>
	</ng-template>

	<!--Add Modal -->
	<ng-template #errorModal let-modal>
		<div class="modal-header">
			<h4 class="modal-title" id="modal-basic-title">שגיאה</h4>
		</div>
		<div class="modal-body">
			<div dir="rtl" class="row">
				<div class="col-2">
					<i style="background-color: red;color:white;font-size: 25px;padding: 10%;" class="fa fa-times"></i>
				</div>
				<div class="col-10">
					<p>הוספת סטודנט נכשלה. ייתכן כי נעשה ניסיון להזין מספר תעודת זהות שכבר קיים במערכת. </p>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-primary btn-rounded mb-2"
				(click)="modal.close('Save click')">המשך</button>
		</div>
	</ng-template>




</div>