<div style="margin-top: 7%;" class="row">
    <div class="col-md-6">
        <app-daily-sales [dashboardService]="dashservice"></app-daily-sales>
    </div>
    <div class="col-md-6">
        <app-weekly-sales [dashboardService]="dashservice"></app-weekly-sales>
    </div>
</div>

<!-- Row -->
<div class="row">
    <div class="col-sm-12">
        <app-clincs-statistics></app-clincs-statistics>
    </div>
</div>
<!-- Row -->
<div class="row">
    <div class="col-12">
        <app-revenue-static-graph></app-revenue-static-graph>
    </div>
</div>