<br>
<ol class="breadcrumb mb-2">
    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
    <li class="breadcrumb-item active">Legal Cases</li>
</ol>
<div style="margin-top: 1%;" class="row">
    <div class="col-12">
        <div class="card" style="overflow:scroll;">
            <div class="card-body">
                <h1 dir="rtl" class="mr-auto" style="text-align: right;">פרטי תיקים</h1>
                <table class="table" style="height: 150px;border-collapse: collapse; width: 100%;">
                    <thead style="position: sticky; top: 0">
                        <tr>
                            <th style="position: sticky; top: 0;text-align: right;" scope="col"></th>

                            <th style="text-align:right;" scope="col">סיווג תיק</th>
                            <th style="text-align:right;" scope="col">פרטי לקוח</th>
                            <th style="text-align:right;" scope="col">קליניקה</th>
                            <th style="text-align:right;" scope="col">מספר תיק בבית משפט</th>
                            <th style="text-align:right;" scope="col">סטטוס טיפול</th>
                            <th style="text-align:right;" scope="col">נושא</th>
                            <th style="text-align:right;" scope="col">תאריך הוספה</th>
                            <th style="text-align:right;" scope="col">מספר תיק</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let case of cases">
                            <td style="display: flex;">
                                <button style="font-size: 10pt;" class="btn-primary mr-1"><i class="fa fa-edit"
                                        (click)="open(editModal,'')"></i></button>

                                <!--Edit Modal -->
                                <ng-template #editModal let-modal>
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="modal-basic-title">עריכת תיק</h4>
                                        <button style="margin-left: 0;" type="button" class="close" aria-label="Close"
                                            (click)="modal.dismiss('Cross click')">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body" style="width: 310px;">
                                        <form style="padding-left: 0;" dir="rtl">

                                            <div class="row">
                                                <div class="col-6">
                                                    <label>
                                                        מספר התיק</label>
                                                </div>
                                                <div class="col-6">
                                                    <input type="text" name="id" [(ngModel)]="case.id" disabled><br>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-6"><label>
                                                        נושא התיק</label></div>
                                                <div class="col-6">
                                                    <input type="text" name="subject" [(ngModel)]="case.subject"><br>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-6"> <label>
                                                        תאריך פתיחת התיק</label></div>
                                                <div class="col-6">
                                                    <input type="text" name="dateAdded" [(ngModel)]="case.dateAdded"
                                                        disabled><br>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-6"> <label>
                                                        סוג התיק</label></div>
                                                <div class="col-6">
                                                    <input type="text" name="caseType" [(ngModel)]="case.caseType"><br>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-6">
                                                    <label>
                                                        סטטוס התיק</label>
                                                </div>
                                                <div class="col-6">
                                                    <input type="text" name="status" [(ngModel)]="case.status"> <br>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-6"><label>
                                                        קליניקה</label></div>
                                                <div class="col-6">
                                                    <input type="text" name="clinicName"
                                                        [(ngModel)]="case.clinicName"><br>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-6"><label>
                                                        תעודת זהות לקוח</label></div>
                                                <div class="col-6">
                                                    <input type="text" name="clientId" [(ngModel)]="case.clientId"><br>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-6"><label>
                                                        מספר תיק בבית משפט</label></div>
                                                <div class="col-6">
                                                    <input type="text" name="courtCaseId"
                                                        [(ngModel)]="case.courtCaseId"><br>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary btn-rounded btn-success mb-2"
                                            (click)="modal.close('Save click');onEdit()">אישור</button>
                                    </div>
                                </ng-template>

                                <button *ngIf="currentRole!=0" class="btn btn-sm btn-danger btn-delete-account"
                                    (click)="open(deleteModal,'')">
                                    <span style="font-size: 10pt;" class="spinner-border spinner-border-sm"><i
                                            class="fa fa-trash-alt"></i></span>
                                </button>

                                <!--Delete Modal -->
                                <ng-template #deleteModal let-modal>
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="modal-basic-title">מחיקת תיק</h4>

                                    </div>
                                    <div class="modal-body">
                                        <p dir="rtl">
                                            האם ברצונך למחוק את תיק מספר
                                            <span>{{case.id}}?</span>
                                        </p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger"
                                            (click)="modal.close('Save click');onDelete(case.id)">מחק</button>
                                        <button style="margin-right:15px;" type="button" class="btn btn-outline-dark"
                                            (click)="modal.close('Save click')">ביטול</button>
                                    </div>
                                </ng-template>
                            </td>

                            <td style="text-align:right;">{{case.caseType}}</td>
                            <td style="text-align:right;"><button class="btn btn-primary"
                                    (click)="open(detailsModal,'');showDetails(case.clientId)">הצג</button></td>

                            <td style="text-align:right;">{{case.clinicName}}</td>
                            <td style="text-align:right;">{{case.courtCaseId}}</td>
                            <td style="text-align:right;">{{case.status}}</td>
                            <td style="text-align:right;">{{case.subject}}</td>
                            <td style="text-align:right;">{{case.dateAdded}}</td>
                            <td style="text-align:right;">{{case.id}}</td>

                        </tr>
                    </tbody>
                </table>

                <button *ngIf="currentRole!=0" style="color: white; float: right; font-size: 15;"
                    class="btn btn-rounded btn-success mb-2" (click)="open(addModal)"> פתיחת תיק חדש</button>
            </div>
        </div>

        <!--Add Modal -->
        <ng-template #addModal let-modal>
            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">יצירת תיק</h4>
                <button style="margin-left: 0;" type="button" class="close" aria-label="Close"
                    (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="width: 300px;">
                <form style="padding-left: 0;" dir="rtl">

                    <div class="row">
                        <div class="col-6"> <label>
                                נושא התיק</label></div>
                        <div class="col-6">
                            <input [(ngModel)]="addedCase.subject" type="text" name="subject">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <label>
                                סוג התיק</label>
                        </div>
                        <div class="col-6">
                            <input [(ngModel)]="addedCase.caseType" type="text" name="caseType">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <label>
                                סטטוס התיק</label>
                        </div>
                        <div class="col-6">
                            <input [(ngModel)]="addedCase.status" type="text" name="status">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <label>
                                קליניקה</label>

                        </div>

                        <div class="col-6">
                            <input [(ngModel)]="addedCase.clinicName" type="text" name="clinicName">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <label>
                                תעודת זהות לקוח</label>
                        </div>
                        <div class="col-6">
                            <input [(ngModel)]="addedCase.clientId" type="text" name="clientId">
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-rounded btn-success mb-2"
                    (click)="modal.close('Save click');onSave()">הוסף</button>
            </div>
        </ng-template>

        <ng-template #detailsModal let-modal>
            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">פרטי הלקוח</h4>
                <button style="margin-left: 0;border-width: 0; outline: none;
				box-shadow: none;" type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="width: 300px; " dir="rtl">
                <div class="row">
                    <div class="col-6">
                        <span>שם פרטי:</span>
                    </div>
                    <div class="col-6">
                        <span>{{currentClient.firstName}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <span>שם משפחה:</span>
                    </div>
                    <div class="col-6">
                        <span>{{currentClient.lastname}}</span>
                    </div>

                </div>
                <div class="row">
                    <div class="col-6">
                        <span>דואר אלקטרוני:</span>
                    </div>
                    <div class="col-6">
                        <span>{{currentClient.email}}</span>
                    </div>

                </div>
                <div class="row">
                    <div class="col-6">
                        <span>מספר טלפון:</span>
                    </div>
                    <div class="col-6">
                        <span>{{currentClient.phoneNumber}}</span>
                    </div>

                </div>


            </div>
            <div class="modal-footer">
            </div>
        </ng-template>

    </div>




</div>