<br>
<ol class="breadcrumb mb-2">
  <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
  <li class="breadcrumb-item active">Supervisors</li>
</ol>
<div style="margin-top: 1%;" class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h1 dir="rtl" class="mr-auto" style="text-align:right;">מנחים</h1>
        <table class="table">
          <thead>
            <tr>
              <th scope="col" style="text-align:right;"></th>
              <th scope="col" style="text-align:right;">שנת התחלה</th>
              <th scope="col" style="text-align:right;">דואר אלקטרוני</th>
              <th scope="col" style="text-align:right;">שם משפחה</th>
              <th scope="col" style="text-align:right;">שם פרטי</th>
            </tr>
          </thead>
          <tbody>

            <tr *ngFor="let supervisor of supervisors;let i=index">
              <td>
                <button class="btn-primary mr-1"><i class="fa fa-edit"
                    (click)="openEditModal(supervisor,editModal)"></i></button>
                <button class="btn btn-sm btn-danger btn-delete-account" (click)="openDeleteModal(deleteModal)">
                  <span class="spinner-border spinner-border-sm"><i class="fa fa-trash-alt"></i></span>
                </button>

                <!--Edit Modal -->
                <ng-template #editModal let-modal>
                  <div class="modal-header">
                    <h4 class="modal-title" id="modal-basic-title">עריכת מנחה</h4>
                    <button style="margin-left: 0;" type="button" class="close" aria-label="Close"
                      (click)="modal.dismiss('Cross click')">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body" style="width: 300px;">
                    <form dir="rtl">

                      <div class="row">
                        <div class="col-6"><label>
                            שם פרטי</label></div>
                        <div class="col-6">
                          <input type="text" [(ngModel)]="edittedSupervisor.firstName" name="firstName">
                        </div>
                      </div>


                      <div class="row">
                        <div class="col-6"><label>
                            שם משפחה</label></div>
                        <div class="col-6">
                          <input type="text" [(ngModel)]="edittedSupervisor.lastName" name="lastName">
                        </div>
                      </div>


                      <div class="row">
                        <div class="col-6"><label>
                            תעודת זהות</label></div>
                        <div class="col-6">
                          <input type="number" [(ngModel)]="edittedSupervisor.id" name="id" disabled>
                        </div>
                      </div>


                      <div class="row">
                        <div class="col-6"><label>
                            דואר אלקטרוני</label></div>
                        <div class="col-6">
                          <input type="text" [(ngModel)]="edittedSupervisor.email" name="email">
                        </div>
                      </div>


                      <div class="row">
                        <div class="col-6"><label>
                            מספר טלפון</label></div>
                        <div class="col-6">
                          <input type="text" [(ngModel)]="edittedSupervisor.phoneNumber" name="phoneNumber">
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-6"><label>
                            משנת</label></div>
                        <div class="col-6">
                          <input type="text" [(ngModel)]="edittedSupervisor.sinceYear" name="sinceYear" disabled>
                        </div>
                      </div>

                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" [disabled]="!validateEdittedFields()"
                      (click)="modal.close('Save click');onEdit(i)">ערוך</button>
                  </div>
                </ng-template>


                <!--Deletr Modal -->
                <ng-template #deleteModal let-modal>
                  <div class="modal-header">
                    <h4 class="modal-title" id="modal-basic-title">מחיקת סטודנט</h4>

                  </div>
                  <div class="modal-body">
                    <p dir="rtl">
                      האם ברצונך למחוק את
                      <span>{{supervisor.firstName}}?</span>
                    </p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger"
                      (click)="modal.close('Save click');onDelete(supervisor.id)">מחק</button>
                    <button style="margin-right:15px;" type="button" class="btn btn-outline-dark"
                      (click)="modal.close('Save click')">ביטול</button>
                  </div>
                </ng-template>

              </td>
              <td style="text-align:right;">{{supervisor.sinceYear}}</td>
              <td style="text-align:right;">{{supervisor.email}}</td>
              <td style="text-align:right;">{{supervisor.lastName}}</td>
              <td style="text-align:right;">{{supervisor.firstName}}</td>
            </tr>
          </tbody>
        </table>

        <button style="color: white; float: right; font-size: 21;" class="btn btn-success btn-rounded"
          (click)="openAddModal(addModal)">הוסף מנחה חדש</button>

      </div>
    </div>


  </div>

  <!--Add Modal -->
  <ng-template #addModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">הוספת מנחה</h4>
      <button style="margin-left: 0;" type="button" class="close" aria-label="Close"
        (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body" style="width: 300px;">
      <form dir="rtl" style="padding-left: 0;">

        <div class="row">
          <div class="col-6"><label>
              שם פרטי</label></div>
          <div class="col-6">
            <input type="text" [(ngModel)]="addedSupervisor.firstName" name="firstName">
          </div>
        </div>


        <div class="row">
          <div class="col-6"><label>
              שם משפחה</label></div>
          <div class="col-6">
            <input type="text" [(ngModel)]="addedSupervisor.lastName" name="lastName">
          </div>
        </div>


        <div class="row">
          <div class="col-6"><label>
              תעודת זהות</label></div>
          <div class="col-6">
            <input type="number" [(ngModel)]="addedSupervisor.id" name="id">
          </div>
        </div>


        <div class="row">
          <div class="col-6"><label>
              דואר אלקטרוני</label></div>
          <div class="col-6">
            <input type="text" [(ngModel)]="addedSupervisor.email" name="email">
          </div>
        </div>


        <div class="row">
          <div class="col-6"><label>
              מספר טלפון</label></div>
          <div class="col-6">
            <input type="text" [(ngModel)]="addedSupervisor.phoneNumber" name="phoneNumber">
          </div>
        </div>


      </form>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-rounded btn-primary" [disabled]="!validateAddedFields()"
        (click)="modal.close('Save click');onAdd()">הוסף</button>
    </div>
  </ng-template>


</div>