<br>
<ol class="breadcrumb mb-2">
    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
    <li class="breadcrumb-item active">Notifications</li>
</ol>

<div class="col-12">
    <div class="notification-ui_dd-content">

        <div style="margin-bottom: 0;border-bottom: 1px solid #EAEDED;text-align: right;" class="card">
            <div class="card-body">

                <button style="color: white;font-size: 21;" class="btn btn-success btn-rounded"
                    (click)="readNotifications()">סמן התראות כנקראו</button>
            </div>

        </div>
        <div *ngFor="let n of notifications; let i = index"
            style="margin-bottom: 0;border-bottom: 1px solid #EAEDED;text-align: right;" class="card">
            <div class="card-body">

                <div class="notification-list_detail">
                    <p> קיים
                        <b>עדכון</b> עבורך
                        &nbsp;<button class="btn btn-circle btn-secondary"><i class="fas fa-bell"></i></button>
                    </p>
                    <p class="text-muted">{{n.details}}</p>
                    <p class="text-muted">{{n.sourceId}}</p>
                    <p class="text-muted"><small>{{n.dateTime}}</small></p>
                </div>
                <!--<button (click)="deleteNotification(i)" class="btn btn-danger" style="float: right;">מחק התראה</button> -->
            </div>

        </div>


    </div>

</div>