<div style="margin-top:7%;" class="container">


    <div style="width: 800px;" class="notification-ui_dd-content">

        <div style="margin-bottom: 0;border-bottom: 1px solid #EAEDED;text-align: right;" class="card">
            <div class="card-body">

                <button style="color: white;font-size: 21;" class="btn btn-success btn-rounded"
                    (click)="readNotifications()">סמן התראות כנקראו</button>
            </div>

        </div>
        <div *ngFor="let n of notifications"
            style="margin-bottom: 0;border-bottom: 1px solid #EAEDED;text-align: right;" class="card">
            <div class="card-body">

                <div class="notification-list_detail">
                    <p> קיים
                        <b>עדכון</b> עבורך
                    </p>
                    <p class="text-muted">{{n.details}}</p>
                    <p class="text-muted"><small>{{n.dateTime}}</small></p>
                </div>
            </div>

        </div>



    </div>
</div>